*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  user-select: none;
}


@font-face {
  font-family: 'sbc';
  src: url('./fonts/NFS_by_JLTV.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior:smooth;
  font-size: 62.5%;
  background-color: #0e0e0e;
}

::-webkit-scrollbar {
  width: 10px;
  border: 3px solid rgba(0, 0, 0, 0.479);
  height: 20px;
  background-position: top;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background:rgb(16, 31, 97);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgb(9, 8, 102);
}
::-webkit-scrollbar-thumb:active {
  background: #010f4b;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

header{
  position: relative;
  width: 100%;
  height: 7rem;
}

.nav{
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 7.2rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.76);
  filter: drop-shadow(0 0 40px rgba(2, 2, 172, 0.692));
}

.logoOculto{
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  top: 2rem;
  color: white;
  font-size: 3rem;
  z-index: 10001;
  font-family: "sbc";
  display:none;
  transition: all 1s ease-in-out;
  filter: drop-shadow(0 0 2px rgb(2, 2, 172));
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  filter: drop-shadow(1px 1px 1px black);
  color: rgb(255, 255, 255);
} 

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items:stretch;
  left: 8%;
  list-style: none;
  position: absolute;
  width: 100%;
  top:1.2rem;
  font-style: oblique;
}

.nav-menu-link {
  padding: 0px 12px;
  border-radius: 3px;
}

.nav-menu-link_active {
  border-radius: 9%;
  transition: 0.5s;
}


/* TOGGLE */
.nav-toggle {
  position: absolute;
  top: 0rem;
  right: 12%;
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
  z-index: 4000;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 4.5rem;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link_active:hover{
  transition: all 0.2s ease-in-out;
}

.nav li a:hover{
  filter: drop-shadow(0px 0px 15px rgb(0, 17, 255));
  text-shadow: 0 0 1rem rgb(0, 17, 255);
}

.nav-menu-link i{
  font-size: 2.5rem;
  position: absolute;
  top: 3.8rem;
}

main{
  overflow: hidden;
}

.nav2{
  margin-right: 18%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}

.play a{
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-left: 5rem;
  font-size: 2.6rem;
  filter: drop-shadow(0px 0px 15px rgb(0, 4, 255));
}

.coin{
  padding-left: 1.5rem;
}
.coin{
  filter:brightness(200%) contrast(150%);
}

.coin img{
  width: 50px;
  filter: drop-shadow(0 -.5px 8px rgb(0, 26, 255));
}

.contadorCoin{
  color: white;
  padding-left: 1.5rem;
  margin-top: .1rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2.2rem;
  filter: drop-shadow(0 0px 30px rgb(0, 0, 255));
}


/* container principal */

.containerVideo{
  width: 100vw;
  height: 100vh;
  filter: contrast(105%);
  filter: drop-shadow(0 0px 50px rgba(0, 0, 255, 0.342));
}

.containerVideo video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoPrincipal{
  width: 100%;
  text-align: center;
  font-size: 8rem;
  color: white;
  font-family: "sbc";
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* container 2 */

.container2{
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.container2Cards{
  padding-top: 15rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10rem;
}

.cardsObj{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 21vw;
  border: 3px solid rgba(1, 1, 114, 0.384);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.808);
}

.cardsObj img{
  width: 20vw;
  height: 20rem;
  z-index: 1000;
}

.cardsObj p{
  color: white;
  font-size: 1.6rem;
  padding: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}
/* container 3 */

.container3{
  width: 100vw;
  height: 100vh;
  background-image: url("./img/spot.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.carImg {
  position: absolute;
  width: 100%;
  top: 14rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.carImg img{
  width: 45%;
  object-fit: cover;
  filter: drop-shadow(15px 20px 18px rgb(0, 0, 0)) contrast(110%) brightness(110%);
}

/* presentacion autos */





/* cuadros bottones autos */
.cuadros{
  width: 95vw;
  padding: 2rem 0;
  background-color: rgb(1, 0, 5);
  border-radius: 50px;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid rgba(0, 0, 70, 0.384);
  box-shadow: 0 0 2rem rgba(1, 1, 119, 0.808);
  gap: 5rem;
}

.cuadroCar{
  width: 9vw;
  height: 11vh;
  border: 3px solid rgba(1, 1, 114, 0.384);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.808);
  border-radius: 15px;
  transition: all 1 ease-in-out;
}
.cuadroCar:active{
  width: 8.85vw;
  height: 10.85vh;
  filter: drop-shadow(0 0 10px rgb(82, 115, 226));
  transition: all 1 ease-in-out;
}

/* garaje */

.statsCars{
  position: relative;
  top: 20px;
  left: 2%;
  width: 22vw;
  height: 40vh;
  border-radius: 2px;
  border: 3px solid rgba(1, 1, 114, 0.384);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.808);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 100;
}

.nameCar p {
  margin-top: -1rem;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 700;
  width: 100%;
}

 .colorCar p, .velocidadCar p, .frenoCar p, .driftCar p {
  font-size: 1.2vw;
  color: rgb(67, 86, 255);
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
}

/* button buy */

.buyButton button{
  font-size: 1.5vw;
  padding: .5rem 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.034);
  color: rgb(67, 86, 255);
  cursor: pointer;
  border-color: rgba(0, 0, 255, 0.582);
}



/* view model */
.containerGaraje{
  position: relative;
  top: 13%;
  left: 84vw;
  border: 3px solid rgba(1, 1, 114, 0.384);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.808);
  width: 20rem;
  height: 6rem;
  border-radius: 2px;
  border: 2px solid blue;
  cursor: pointer;
}

.containerGaraje a{
  font-size: 1.3vw;
  text-decoration: none;
  width: 100%;
  position: absolute;
  color: rgb(67, 86, 255);
  text-align: center;
  top: 16%;
  transform: translate(9, -50%);
  letter-spacing: 1px;
  font-weight: bold;
}


.containerGaraje a:hover{
  filter: drop-shadow(0 0 4px rgb(106, 106, 252));
}

/* buttons cars */
.astonButton{
  background-image: url("./img/cars/aston.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;
}

.AudiR8Button{
  background-image: url("./img/cars/audir8.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}

.CamaroButton{
  background-image: url("./img/cars/camaro.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}

.FerrariButton{
  background-image: url("./img/cars/ferrari.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}

.LykanButton{
  background-image: url("./img/cars/Lykan.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}
.MercedesAmgButton{
  background-image: url("./img/cars/mercedesAMG2.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}
.PorscheGt4Button{
  background-image: url("./img/cars/PorscheGT4.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}

.SennaButton{
  background-image: url("./img/cars/senna.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: pointer;

}


@media (max-width: 1400px){

  /* stats */
  .statsCars{
    position: relative;
    top: 20px;
    left: 1%;
    width: 25vw;
    height: 46vh;
    border-radius: 2px;
    border: 3px solid rgb(0, 0, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 100;
  }
  
  .nameCar p {
    margin-top: -1rem;
    font-size: 1.8vw;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 700;
    width: 100%;
  }
  
   .colorCar p, .velocidadCar p, .frenoCar p, .driftCar p {
    font-size: 1.5vw;
    color: rgb(67, 86, 255);
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
  }
  
/* cuadros bottones autos */
.cuadros{
  width: 93vw;
  padding: 2rem 0;
  bottom: 1.5rem;
  left: 50%;
  gap: 4rem;
}
  .cuadroCar{
    width: 8.5vw;
    height: 14vh;
  }
  .cuadroCar:active{
    width: 8.45vw;
    height: 13.95vh;
  }

}


@media (max-width: 1082px){

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-size: cover;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 0;
    height: 100vh;
    left: 100%;
    overflow-y: auto;
    padding-top: 0rem;
    transition: left 0.3s;
    filter:contrast(105%);
  }
  
  .nav-menu_visible {
    left: 0%;
  }

  .nav-menu-item {
    line-height: 80px;    
      
  }
  .nav-menu-item a{
    font-size: 2.1rem;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
  }

  .nav-toggle {
    display: block;
    margin-top: 1rem;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .fa-bars{
    color: rgb(250, 238, 215);
    font-size: 3.9rem;
  }

}
